@import "vars";

.page {
  background-color: $cWhite;
}

.alternative_tab {
  width: 100%;
  padding: 40px 0px;

  .alternative_tab_cont {
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
  }

  .alternative-title {
    font-family: $font-open-sans;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    margin-bottom: 25px;
  }

  .alternative-block {
    .txt {
      font-family: $font-roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 21px;
      color: $cTundora;
      padding: 20px 0;

      span {
        font-weight: 700;
      }

    }

    .alternative-content {
      .about {
        display: flex;
        background: $cAlabaster;
        padding: 24px 0;

        span {
          font-family: $font-roboto;
          font-style: normal;
          font-weight: 700;
          font-size: clamp(12px, 1.5vw, 16px);

          &:nth-child(1) {
            width: 10%;
            min-width: 50px;
          }

          &:nth-child(2) {
            width: 10%;
            min-width: 50px;
          }

          &:nth-child(3) {
            width: 30%;
            flex-grow: 1;
          }

          &:nth-child(4) {
            width: 15%;
            min-width: 70px;
          }

          &:nth-child(5) {
            width: 10%;
          }

          &:nth-child(6) {
            width: 15%;
            min-width: 50px;
          }
        }
      }

      .product {
        display: flex;
        flex-wrap: wrap;

        .item {
          width: 100%;
          display: flex;
          align-items: center;
          padding: 10px 0;

          span {
            font-size: 16px;
            font-family: $font-roboto;
            font-style: normal;
            display: flex;
            align-items: center;

            &:nth-child(1) {
              width: 10%;
              min-width: 50px;
              font-weight: 700;
            }

            &:nth-child(2) {
              width: 10%;
              min-width: 50px;
              color: $cCerulean;
            }

            &:nth-child(3) {
              width: 30%;
              color: $cCerulean;
              font-weight: 700;
              flex-grow: 1;

              img {
                margin-right: 5px;
                height: 100%;
                max-height: 50px;
              }
            }

            &:nth-child(5) {
              width: 10%;
              font-family: $font-open-sans;
              font-style: normal;
              font-weight: 700;
              font-size: 18px;
              color: $cPastelGreen;
              text-transform: uppercase;
            }

            &:nth-child(6) {
              width: 6%;
              min-width: 50px;
              font-family: $font-roboto;
              font-style: normal;
              font-weight: 700;
              font-size: 16px;
              white-space: nowrap;
            }

          }

          > .season {
            width: 15%;
            min-width: 70px;
            font-weight: 700;

            @media(max-width: $md1 + px) {
              width: 10%;
            }

            > .leto {
              display: none;
              justify-content: flex-start;
              align-items: center;

              > div {
                height: 25px;
                width: 25px;
                min-width: 25px;

                > img {
                  height: 100%;
                  width: 100%;
                  object-fit: contain;
                }
              }

              > p {
                margin: 0 5px 0 5px;
                font-size: clamp(10px, 1.5vw, 16px);
              }
            }

            > .zima {
              display: none;
              justify-content: flex-start;
              align-items: center;

              > div {
                height: 25px;
                width: 25px;
                min-width: 25px;

                > img {
                  height: 100%;
                  width: 100%;
                  object-fit: contain;
                }
              }

              > p {
                margin: 0 5px 0 5px;
                font-size: clamp(10px, 1.5vw, 16px);
              }
            }
          }

          > .leto {
            > .leto {
              display: flex;
            }
          }

          > .zima {
            > .zima {
              display: flex;
            }
          }

          .vew_btn {
            width: 10%;
            font-family: $font-open-sans;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            border: 1px solid lightgray;
            border-radius: 5px;
            padding: 10px 5px;
            color: $cCerulean;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

.alternative_product {
  width: 100%;
  padding: 40px 0px;

  .alternative_product_cont {
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;

    .alternative_product_title {
      width: 100%;

      h2 {
        font-family: $font-open-sans;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;
        margin-bottom: 40px;
        color: $cTundora;
      }

      .txt {
        font-family: $font-roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 100%;
        color: $cTundora;

        span {
          font-weight: bold;
          margin: 0 3px;
        }
      }
    }

    .alternative_product_box {
      width: 100%;
      max-width: 1477px;

      .alternative_product_item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 20px;
        box-shadow: 0 3px 9px 1px #d8dcce;
        transition-duration: 280ms;
        cursor: pointer;
        overflow: hidden;
        margin: 0 0 20px 0;

        &:hover {
          box-shadow: 0 3px 9px 4px #999;
        }

        .item-image {
          height: 100%;
          width: 100%;
          max-width: 250px;
          //height: 398px;
          position: relative;
          overflow: hidden;

          > .icons {
            position: absolute;
            left: 0;
            top: 0;
            max-width: 32px;

            > div {
              height: 35px;
              width: 35px;
              margin-bottom: 10px;
              display: none;

              > img {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
          }

          > .leto {
            > .leto {
              display: flex;
            }
          }

          > .zima {
            > .zima {
              display: flex;
            }
          }

          > .stud {
            > .stud {
              display: flex;
            }
          }

          > .image {
            width: 100%;
            height: 100%;

            > img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }

          > .icon-container {
            position: absolute;
            bottom: 40px;
            right: 10px;

            > .rassrochka {
              height: 50px;
              width: 75px;
              transform: rotate(27deg);

              > img {
                height: 100%;
                width: 100%;
                object-fit: contain;
              }
            }
          }
        }

        .item-text {
          width: 100%;
          max-width: #{calc(100% - 250px)};

          @media(max-width: $md2 + px) {
            max-width: 100%;
          }

          .text-top {
            height: 50px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;

            @media(max-width: $md3 + px) {
              height: 100px;
              flex-direction: column;
              align-items: flex-start;
              flex-wrap: wrap;
            }

            @media(max-width: $md4 + px) {
              height: 150px;
            }

            .brand {
              height: 100%;
              max-height: 50px;
              width: 100%;
              max-width: 100px;
              //margin-right: 6px;

              > img {
                height: 100%;
                width: 100%;
                object-fit: cover;
              }
            }

            .bonus {
              //max-width: 660px;
              height: 100%;
              max-height: 50px;
              width: 100%;
              max-width: #{calc(100% - 185px)};
              //display: grid;
              //grid-template-columns: repeat(4, 1fr);
              //grid-gap: 18px;
              display: flex;
              justify-content: flex-start;
              align-items: center;

              @media(max-width: $md3 + px) {
                max-width: 100%;
              }

              @media(max-width: $md4 + px) {
                max-height: 100px;
                flex-wrap: wrap;
              }

              > .bonus-item {
                height: 100%;
                //width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                @media(max-width: $md4 + px) {
                  height: 50px;
                  width: 50%;
                }

                > .bonus-icon {
                  //height: 100%;
                  height: 40px;
                  //width: 100%;
                  width: 40px;
                  min-width: 40px;

                  > img {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                  }
                }

                > p {
                  font-family: $font-open-sans;
                  font-style: normal;
                  font-weight: 700;
                  font-size: clamp(10px, 1.1vw, 16px);
                  color: $cTundora;
                  display: flex;
                  justify-content: center;
                  margin: 0 10px 0 10px;

                  @media(max-width: $md2 + px) {
                    font-size: clamp(10px, 2vw, 16px);
                  }

                }
              }
            }

            .top-btn {
              //max-width: 100px;
              //width: 100%;
              width: 85px;
              display: flex;
              flex-wrap: nowrap;
              justify-content: space-between;
              align-items: center;

              @media(max-width: $md3 + px) {
                transform: translateX(-85px);
              }

              > div {
                height: 40px;
                min-height: 40px;
                width: 40px;
                min-width: 40px;
                border: 1px solid $cIron;
                border-radius: 5px;
                transition: 280ms;

                &:hover {
                  transform: scale(1.1);
                }

                > img {
                  height: 100%;
                  width: 100%;
                  object-fit: cover;
                }
              }
            }
          }

          > .item-title {
            width: 100%;

            .shin {
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;

              .stars {
                //width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                //max-width: 230px;
                flex-grow: 1;

                > p {
                  font-family: $font-open-sans;
                  font-style: normal;
                  font-weight: 700;
                  font-size: clamp(18px, 1.8vw, 27px);
                  //line-height: 100%;
                  text-transform: uppercase;
                  color: #DDDDDD;
                  padding: 0;
                  margin: 0 30px 0 0;

                  @media(max-width: $md4 + px) {
                    margin: 0 10px 0 0;
                  }

                }

                > div {
                  display: flex;
                  align-items: center;

                  > .image {
                    height: 20px;
                    width: 20px;
                    min-width: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    > img {
                      height: 100%;
                      width: 100%;
                      object-fit: contain;
                    }
                  }
                }
              }

              .article {
                font-family: $font-open-sans;
                font-style: normal;
                font-weight: 700;
                font-size: clamp(18px, 1.8vw, 21px);
                //line-height: 100%;
                text-transform: uppercase;
                color: $cRollingStone;
                padding: 0;
                margin: 0;
              }
            }

            h2 {
              font-family: $font-open-sans;
              font-style: normal;
              font-weight: 700;
              font-size: clamp(20px, 2vw, 38px);
              //line-height: 100%;
              text-transform: uppercase;
              color: $cTundora;
              margin-bottom: 10px;
            }

            .types {
              width: 100%;
              max-width: 280px;
              display: flex;
              justify-content: space-between;
              align-items: center;

              p {
                font-family: $font-roboto;
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 120%;
                color: $cCerulean;
                border-bottom: 1px dashed $cIron;
                transition: 280ms;

                &:hover {
                  border-bottom: 1px solid $cCerulean;
                }
              }
            }
          }

          > .item-description {
            padding: 10px 0;
            font-size: clamp(10px, 1.1vw, 16px);

            > ul {
              width: 100%;
              //margin-bottom: 10px;
              //margin-top: 10px;
              margin-left: 20px;

              @media(max-width: $md4 + px) {
                margin: 0;
              }

              li {
                font-family: $font-roboto;
                font-style: normal;
                font-weight: 400;
                font-size: clamp(10px, 2vw, 16px);
                line-height: 120%;
                text-indent: 10px;
                color: $cTundora;
                list-style: disc;

                @media(max-width: $md4 + px) {
                  text-indent: 0px;
                  list-style: none;
                }
              }
            }
          }

          > .stock {
            display: flex;

            > .in-stock {
              display: none;
              justify-content: flex-start;
              align-items: center;

              > .image {
                height: 25px;
                width: 25px;
                min-width: 25px;

                > img {
                  height: 100%;
                  width: 100%;
                  object-fit: contain;
                }
              }

              > .text {
                font-family: $font-open-sans;
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                //line-height: 100%;
                text-transform: uppercase;
                color: $cPastelGreen;
                margin: 0 0 0 10px;
              }
            }

            > .out-stock {
              display: none;
              justify-content: flex-start;
              align-items: center;

              > .image {
                height: 25px;
                width: 25px;
                min-width: 25px;

                > img {
                  height: 100%;
                  width: 100%;
                  object-fit: contain;
                }
              }

              > .text {
                font-family: $font-open-sans;
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                //line-height: 100%;
                text-transform: uppercase;
                color: $color-warn;
                margin: 0 0 0 10px;
              }
            }

          }

          > .in-stock {
            > .in-stock {
              display: flex;
            }
          }

          > .out-stock {
            > .out-stock {
              display: flex;
            }
          }

          .bottom {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media(max-width: $md3 + px) {
              flex-wrap: wrap;
              justify-content: center;
            }

            > .price {
              //max-width: 280px;
              //width: 100%;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              flex-grow: 1;

              @media(max-width: $md4 + px) {
                justify-content: center;
              }

              > h2 {
                font-family: $font-roboto;
                font-style: normal;
                font-weight: 900;
                font-size: clamp(26px, 2.5vw, 40px);
                //line-height: 100%;
                margin: 0 10px 0 0;
                text-transform: uppercase;
                color: $cCerulean;
                white-space: nowrap;

              }

              > p {
                font-family: $font-roboto;
                font-style: normal;
                font-weight: 900;
                font-size: clamp(16px, 1.5vw, 16px);
                //line-height: 100%;
                text-transform: uppercase;
                color: $cTundora;
                margin: 0 10px 0 0;
                white-space: nowrap;
              }
            }

            > .counter {
              max-width: 140px;
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;

              > span {
                margin: 0 5px;
                font-family: $font-roboto;
                font-style: normal;
                font-weight: 700;
                font-size: 30px;
                //line-height: 100%;
                text-transform: uppercase;
                color: $cTundora;
              }
            }

            > .buttons {
              //max-width: 530px;
              //width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-left: 10px;
              min-width: 300px;

              @media(max-width: $md3 + px) {
                margin: 10px 0 0 0;
                width: 100%;
              }

              @media(max-width: $md4 + px) {
                min-width: 100%;
              }

              > .add-to-cart {
                height: 50px;
                padding: 0 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 700;
                font-size: clamp(14px, 1.5vw, 16px);
                font-family: $font-open-sans;
                text-transform: uppercase;
                border-radius: 4px;
                transition: all .3s ease;
                color: $cWhite;
                background-color: $cCerulean;
                border: 2px solid $cCerulean;


                @media(max-width: $md3 + px) {
                  width: 48%;
                }

                &:hover {
                  background-color: $cTurquoise;
                  border-color: $cTurquoise;
                }
              }

              > .one-click {
                height: 50px;
                padding: 0 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 700;
                font-size: clamp(14px, 1.5vw, 16px);
                font-family: $font-open-sans;
                text-transform: uppercase;
                border: 2px solid $cIron;
                border-radius: 4px;
                transition: all .3s ease;
                color: $cCerulean;

                @media(max-width: $md3 + px) {
                  width: 48%;
                }

                &:hover {
                  color: $cWhite;
                  background: $cTurquoise;
                  border-color: $cTurquoise;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media(max-width: $md1 + px) {
  .alternative_product {
    padding: 40px 0px;

    .alternative_product_cont {
      .alternative_product_title {
        h2 {
          font-size: 28px;
          margin-bottom: 30px;
        }

        .txt {
          font-size: 18px;

          span {
            margin: 0 3px;
          }
        }
      }

      .alternative_product_box {
        .alternative_product_item {
          //padding: 20px 0px;

          .img {
            max-width: 310px;
            height: 300px;

            .svg {
              max-width: 32px;

              svg {
                margin-bottom: 10px;
              }
            }

            img {
              height: 398px;
            }
          }

          .text {
            max-width: 900px;

            .text_top {
              margin-bottom: 10px;

              .brend {
                max-width: 80px;
                margin-right: 6px;

                svg {
                  width: 100%;
                }
              }

              .bonus {
                max-width: 500px;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 10px;

                p {
                  font-size: 14px;

                  img {
                    min-width: 40px;
                    height: 40px;
                    margin-right: 10px;
                  }
                }
              }

              .top_btn {
                max-width: 94px;
              }
            }

            .item_title {
              .shin {
                .stars {
                  max-width: 180px;

                  p {
                    font-size: 20px;
                    margin-right: 10px;
                  }
                }

                .artikul {
                  font-size: 21px;
                }
              }

              h2 {
                font-size: 30px;
                margin-bottom: 10px;
              }

              .types {
                max-width: 352px;

                p {
                  font-size: 16px;
                }
              }
            }

            ul {
              margin-bottom: 10px;
              margin-top: 10px;
              margin-left: 16px;

              li {
                font-size: 14px;
              }
            }

            .stock {
              font-size: 16px;

              svg {
                margin-right: 5px;
              }
            }

            .bottom {
              .price {
                max-width: 230px;

                p {
                  font-size: 28px;
                  margin-right: 10px;
                }

                span {
                  font-size: 14px;
                }
              }

              .right {
                max-width: 530px;
                margin-left: 10px;

                .counter {
                  max-width: 140px;

                  span {
                    margin: 0 5px;
                    font-size: 30px;
                  }
                }

                .addbasket {
                  max-width: 203px;
                  height: 52px;
                  font-size: 18px;
                  margin: 0 6px;
                }

                .buy {
                  font-size: 18px;
                  max-width: 168px;
                  height: 52px;
                }
              }
            }
          }
        }
      }
    }
  }
  .alternative_tab {
    width: 100%;
    padding: 40px 0px;

    .alternative_tab_cont {
      max-width: 1800px;
      width: 100%;
      margin: 0 auto;
    }

    .alternative-title {
      font-family: $font-open-sans;
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 100%;
      margin-bottom: 25px;
    }

    .alternative-block {
      .txt {
        font-family: $font-roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        color: $cTundora;
        padding: 20px 0;

        span {
          font-weight: 700;
        }

      }

      .alternative-content {
        overflow: auto;

        .about {
          padding: 24px 0;
          //min-width: 958px;

          span {
            //font-size: 16px;

            &:nth-child(1) {
              width: 10%;
            }

            &:nth-child(2) {
              width: 10%;
            }

            &:nth-child(3) {
              width: 30%;
              flex-grow: 1;
            }

            &:nth-child(4) {
              width: 10%;
            }

            &:nth-child(5) {
              width: 10%;
            }

            &:nth-child(6) {
              width: 20%;
            }
          }
        }

        .product {

          .item {
            width: 100%;
            padding: 10px 0;

            span {
              font-size: clamp(12px, 1.5vw, 16px);

              &:nth-child(1) {
                width: 10%;
              }

              &:nth-child(2) {
                width: 10%;
              }

              &:nth-child(3) {
                width: 30%;
                flex-grow: 1;
              }

              &:nth-child(4) {
                width: 10%;

                svg {
                  margin-right: 5px;
                }
              }

              &:nth-child(5) {
                width: 10%;
                font-size: clamp(12px, 1.6vw, 18px);
              }

              &:nth-child(6) {
                width: 8%;
                font-size: clamp(12px, 1.5vw, 16px);
              }

            }

            .vew_btn {
              width: 12%;
              font-size: 18px;
              padding: 10px 5px;
            }
          }
        }
      }
    }
  }
}

@media(max-width: $md2 + px) {
  .alternative_product {
    padding: 40px 0px;

    .alternative_product_cont {
      .alternative_product_title {
        h2 {
          font-size: 28px;
          margin-bottom: 30px;
        }

        .txt {
          font-size: 18px;

          span {
            margin: 0 3px;
          }
        }
      }

      .alternative_product_box {
        .alternative_product_item {
          padding: 20px 20px;
          flex-direction: column;

          .img {
            max-width: 310px;
            height: 300px;

            .svg {
              max-width: 32px;

              svg {
                margin-bottom: 10px;
              }
            }

            img {
              height: 300px;
            }
          }

          .text {
            max-width: 900px;

            .text_top {
              margin-bottom: 10px;

              .brend {
                max-width: 80px;
                margin-right: 6px;

                svg {
                  width: 100%;
                }
              }

              .bonus {
                max-width: 500px;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 10px;

                p {
                  font-size: 14px;

                  img {
                    min-width: 40px;
                    height: 40px;
                    margin-right: 10px;
                  }
                }
              }

              .top_btn {
                max-width: 94px;
              }
            }

            .item_title {
              .shin {
                .stars {
                  max-width: 180px;

                  p {
                    font-size: 20px;
                    margin-right: 10px;
                  }
                }

                .artikul {
                  font-size: 21px;
                }
              }

              h2 {
                font-size: 30px;
                margin-bottom: 10px;
              }

              .types {
                max-width: 352px;

                p {
                  font-size: 16px;
                }
              }
            }

            ul {
              margin-bottom: 10px;
              margin-top: 10px;
              margin-left: 16px;

              li {
                font-size: 14px;
              }
            }

            .stock {
              font-size: 16px;

              svg {
                margin-right: 5px;
              }
            }

            .bottom {
              .price {
                max-width: 230px;

                p {
                  font-size: 28px;
                  margin-right: 10px;
                }

                span {
                  font-size: 14px;
                }
              }

              .right {
                max-width: 530px;
                margin-left: 10px;

                .counter {
                  max-width: 140px;

                  span {
                    margin: 0 5px;
                    font-size: 30px;
                  }
                }

                .addbasket {
                  max-width: 203px;
                  height: 52px;
                  font-size: 18px;
                  margin: 0 6px;
                }

                .buy {
                  font-size: 18px;
                  max-width: 168px;
                  height: 52px;
                }
              }
            }
          }
        }
      }
    }
  }
  .alternative_tab {
    .alternative-block {
      .alternative-content {
        .about {

          span {
            //font-size: 1.5vw;

            &:nth-child(1) {
              width: 10%;
            }

            &:nth-child(2) {
              width: 10%;
            }

            &:nth-child(3) {
              width: 30%;
              flex-grow: 1;
            }

            &:nth-child(4) {
              width: 10%;
            }

            &:nth-child(5) {
              width: 10%;
            }

            &:nth-child(6) {
              width: 8%;
            }
          }
        }

        .product {

          .item {
            width: 100%;
            padding: 10px 0;

            span {
              //font-size: 1.5vw;

              &:nth-child(1) {
                width: 10%;
              }

              &:nth-child(2) {
                width: 10%;
              }

              &:nth-child(3) {
                width: 30%;
                flex-grow: 1;
              }

              &:nth-child(4) {
                width: 10%;

                svg {
                  margin-right: 5px;
                }
              }

              &:nth-child(5) {
                width: 10%;
                //font-size: 1.6vw;
              }

              &:nth-child(6) {
                width: 8%;
                //font-size: 1.5vw;
              }

            }

            .vew_btn {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media(max-width: $md3 + px) {
  .alternative_product {
    padding: 40px 0px;

    .alternative_product_cont {
      .alternative_product_title {
        h2 {
          font-size: 28px;
          margin-bottom: 30px;
        }

        .txt {
          font-size: 18px;

          span {
            margin: 0 3px;
          }
        }
      }

      .alternative_product_box {
        .alternative_product_item {
          padding: 20px 10px;
          flex-direction: column;

          .img {
            max-width: 310px;
            height: 300px;

            .svg {
              max-width: 32px;

              svg {
                margin-bottom: 10px;
              }
            }

            img {
              height: 300px;
            }
          }

          .text {
            max-width: 900px;

            .text_top {
              margin-bottom: 10px;
              flex-wrap: wrap;

              .brend {
                order: 1;
                margin-right: 6px;

                svg {
                  width: 100%;
                  max-width: 80px;
                }
              }

              .bonus {
                max-width: unset;
                order: 3;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 10px;
                margin-top: 20px;

                p {
                  font-size: 14px;

                  img {
                    min-width: 40px;
                    height: 40px;
                    margin-right: 10px;
                  }
                }
              }

              .top_btn {
                max-width: 94px;
                order: 2;
              }
            }

            .item_title {
              .shin {
                .stars {
                  max-width: 180px;

                  p {
                    font-size: 20px;
                    margin-right: 10px;
                  }
                }

                .artikul {
                  font-size: 21px;
                }
              }

              h2 {
                font-size: 30px;
                margin-bottom: 10px;
              }

              .types {
                max-width: 352px;

                p {
                  font-size: 16px;
                }
              }
            }

            ul {
              margin-bottom: 10px;
              margin-top: 10px;
              margin-left: 16px;

              li {
                font-size: 14px;
              }
            }

            .stock {
              font-size: 16px;

              svg {
                margin-right: 5px;
              }
            }

            .bottom {
              flex-direction: column;
              align-items: flex-start;
              margin-top: 10px;

              .price {
                max-width: 230px;
                margin-bottom: 20px;

                p {
                  font-size: 28px;
                  margin-right: 10px;
                }

                span {
                  font-size: 14px;
                }
              }

              .right {
                max-width: 530px;
                margin-left: 0px;

                .counter {
                  max-width: 140px;

                  span {
                    margin: 0 5px;
                    font-size: 30px;
                  }
                }

                .addbasket {
                  max-width: 203px;
                  height: 52px;
                  font-size: 18px;
                  margin: 0 6px;
                }

                .buy {
                  font-size: 18px;
                  max-width: 168px;
                  height: 52px;
                }
              }
            }
          }
        }
      }
    }
  }
  .alternative_tab {
    .alternative-block {
      .alternative-content {
        .about {

          span {

            &:nth-child(5) {
              display: none;
            }

          }
        }

        .product {

          .item {


            span {

              &:nth-child(5) {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@media(max-width: $md4 + px) {
  .alternative_product {
    padding: 40px 0px;

    .alternative_product_cont {
      .alternative_product_title {
        h2 {
          font-size: 24px;
          margin-bottom: 30px;
        }

        .txt {
          font-size: 14px;

          span {
            margin: 0 3px;
          }
        }
      }

      .alternative_product_box {
        .alternative_product_item {
          padding: 20px 10px;
          flex-direction: column;

          .img {
            max-width: 310px;
            height: 300px;

            .svg {
              max-width: 32px;

              svg {
                margin-bottom: 10px;
              }
            }

            img {
              height: 300px;
            }
          }

          .text {
            max-width: 900px;

            .text_top {
              margin-bottom: 10px;
              flex-wrap: wrap;

              .brend {
                order: 1;
                margin-right: 6px;

                svg {
                  width: 100%;
                  max-width: 80px;
                }
              }

              .bonus {
                max-width: unset;
                order: 3;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 10px;
                margin-top: 20px;

                p {
                  font-size: 14px;

                  img {
                    min-width: 40px;
                    height: 40px;
                    margin-right: 10px;
                  }
                }
              }

              .top_btn {
                max-width: 94px;
                order: 2;
              }
            }

            .item_title {
              .shin {
                flex-direction: column;
                align-items: flex-start;

                .stars {
                  margin-bottom: 10px;
                }
              }

              h2 {
                font-size: 24px;
                margin-bottom: 10px;
              }

              .types {
                max-width: 352px;

                p {
                  font-size: 16px;
                }
              }
            }

            .bottom {
              .right {
                max-width: 530px;
                margin-left: 0px;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;

                .addbasket {
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }
  }
  .alternative_tab {
    > .alternative_tab_cont {
      > .alternative-block {
        > .alternative-content {
          > .about {
            > span {
              &:nth-child(4) {
                display: none;
              }
            }
          }

          > .product {
            > .item {
              > .product_title {
                font-size: clamp(8px, 1.5vw, 16px);
              }

              > .season {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}