@import "vars";

.page_calculator {
  width: 100%;
  padding: 20px 0;

  .calculator_cont {
    margin: 0 auto;
    width: 100%;
    max-width: 1800px;

    .calculator_title {
      font-family: $font-open-sans;
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 100%;
      margin-bottom: 20px;
      color: $cTundora;

      @media(max-width: $md2 - 1 + px) {
        font-size: clamp(30px,4vw,40px);
      }

    }

    .calc_mobile {
      display: none;
    }

    .calculator_box {
      width: 100%;
      max-width: 1442px;

      .calculator_box_tabs {
        width: 100%;
        background: $cRegentGray;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .calculator_box_tabs_select {
          display: none;
        }

        .set_calculator {
          font-family: $font-open-sans;
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 120%;
          color: $cWhite;
          padding: 0 40px;
          height: 46px;
          border-right: 1px solid $cAlabaster;

          @media(max-width: $md2 - 1 + px) {
            font-size: 16px;
          }

          @media(max-width: $md3 - 1 + px) {
            display: none;
          }

          &.active {
            background: $cAlabaster;
            color: $cTundora;
          }
        }
      }

      .calculator_block {
        width: 100%;

        .calculator_block_top-text {
          width: 100%;
          background: $cAlabaster;
          padding: 20px 40px;

          @media(max-width: $md3 - 1 + px) {
            padding: 20px 0;
          }

          .calculator_block_top-text_title {
            font-family: $font-open-sans;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            color: $cTundora;
            margin: 0 0 10px 0;
          }

          .calculator_block_top-text_description {
            font-family: $font-roboto;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 120%;
            color: $cTundora;

            @media(max-width: $md2 - 1 + px) {
              font-size: 12px;
            }
          }
        }

        .calculator_block_selects {
          width: 100%;
          background: $cAlabaster;
          padding: 20px 40px;
          display: flex;
          align-items: end;
          gap: 20px;

          @media(max-width: $md3 - 1 + px) {
            padding: 20px 0;
            justify-content: center;
            flex-wrap: wrap;
          }

          .selects_items-list {
            display: flex;
            flex-grow: 1;
            gap: 20px;

            @media(max-width: $md3 - 1 + px) {
              width: 100%;
              justify-content: center;
            }

            .selects_item {
              max-width: 520px;
              width: 100%;

              @media(max-width: $md3 - 1 + px) {
                width: #{calc(50% - 10px)};
              }

              @media(max-width: $md4 - 1 + px) {
                width: 100%;
              }

              .selects_item_name {
                font-family: $font-open-sans;
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                margin-bottom: 10px;
                color: $cTundora;

                @media(max-width: $md2 - 1 + px) {
                  font-size: 16px;
                }

                @media(max-width: $md3 - 1 + px) {
                  text-align: center;
                }
              }

              .selects_item_flex {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 20px;

                @media(max-width: $md1 - 1 + px) {
                  gap: 10px;
                }

                @media(max-width: $md3 - 1 + px) {
                  flex-direction: column;
                }

                label {
                  display: block;
                  max-width: 160px;
                  width: 100%;
                  margin: 0;

                  @media(max-width: $md4 - 1 + px) {
                    max-width: 100%;
                  }

                  @media(max-width: $md3 - 1 + px) {}

                  select {
                    width: 100%;
                    height: 40px;
                    padding: 0 10px;
                    font-family: $font-roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 17px;
                    line-height: 140%;
                    color: $cTundora;
                    background: $cWhite;
                    border: 1px solid #dbe2e9;
                    box-sizing: border-box;
                    border-radius: 4px;

                    @media(max-width: $md1 - 1 + px) {
                      padding: 0;
                    }

                    @media(max-width: $md3 - 1 + px) {
                      padding: 0 10px;
                    }
                  }
                }
              }
            }
          }

          .calculate-btn {
            width: 100%;
            max-width: 200px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $cCerulean;
            border-radius: 4px;
            font-family: $font-open-sans;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            text-transform: uppercase;
            color: $cWhite;
            transition: 280ms;
            cursor: pointer;

            &:hover {
              transform: scale(1.1);

              @media(max-width: $md4 - 1 + px) {
                transform: scale(1);
              }
            }

            @media(max-width: $md4 - 1 + px) {
              max-width: 100%;
            }

          }

        }

        .calculator_block_info {
          width: 100%;
          padding: 20px 40px;

          @media(max-width: $md3 - 1 + px) {
            padding: 20px 0;
          }

          .info_table {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 10px;

            @media(max-width: $md3 - 1 + px) {
              justify-content: center;
            }

            .table {
              max-width: 980px;
              width: 100%;

              .th {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 4px;
                margin-bottom: 14px;

                .table_th_name {
                  max-width: 212px;
                  text-align: center;
                  width: 100%;
                  font-family: $font-open-sans;
                  font-style: normal;
                  font-weight: 700;
                  font-size: 18px;
                  color: $cCerulean;

                  &:first-child {
                    max-width: 250px;
                    min-width: 100px;
                    text-align: left;
                  }
                }
              }

              .tr {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 4px;
                margin-bottom: 14px;

                &:last-child {
                  margin-bottom: 0;
                }

                .table_tr_name {
                  font-family: $font-roboto;
                  font-style: normal;
                  font-weight: 400;
                  font-size: 16px;
                  color: $cTundora;
                  max-width: 212px;
                  text-align: center;
                  width: 100%;

                  &:first-child {
                    max-width: 250px;
                    min-width: 100px;
                    text-align: left;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 10px;
                  }

                  .table_tr_name-image {
                    height: 21px;
                    width: 21px;
                    min-width: 21px;
                    color: $cWhite;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: $font-roboto;
                    font-weight: 900;
                    font-style: normal;
                    text-transform: uppercase;
                    border-radius: 5px;
                    font-size: 16px;
                    line-height: 17px;
                  }

                  .image-a {
                    background-color: red;
                  }

                  .image-b {
                    background-color: darkblue;
                  }

                  .image-c {
                    background-color: green;
                  }

                  .image-d {
                    background-color: #d27a29;
                  }
                }
              }
            }

            .info_table_img {
              max-width: 334px;
              width: 100%;

              @media(max-width: $md4 - 1 + px) {
                max-width: 100%;
              }

              img {
                width: 100%;
              }
            }
          }
        }

        .calculator_block_bottom {
          width: 100%;
          max-width: 980px;
          padding: 0 40px;

          .bottom_calc {
            width: 100%;

            .calc {
              width: 100%;

              .calc_top {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                gap: 20px;

                @media(max-width: $md3 - 1 + px) {
                  flex-direction: column;
                  align-items: center;
                }

                .calc_top_left {
                  max-width: 460px;
                  width: 100%;

                  .calc_top_left_name {
                    font-family: $font-open-sans;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    margin-bottom: 20px;
                    color: $cRegentGray;
                  }

                  .calc_top_flex {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    gap: 10px;
                    margin-bottom: 10px;

                    @media(max-width: $md4 - 1 + px) {
                      flex-direction: column;
                      align-items: center;
                    }

                    .calc_top_item {
                      max-width: 210px;
                      width: 100%;

                      .calc_top_item_text {
                        font-family: $font-open-sans;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 18px;
                        display: flex;
                        margin-bottom: 10px;
                        color: $cTundora;
                      }

                      .calc_top_item_image {
                        min-width: 210px;
                        display: flex;
                        position: relative;

                        > img {
                          width: 100%;
                        }

                        > .speed-numbers {
                          position: absolute;
                          display: flex;
                          height: 50px;
                          width: 120px;
                          top: 11px;
                          left: 40px;

                          > .units {
                            height: 100%;
                            width: 37px;
                            min-width: 37px;
                            position: relative;

                            > div {
                              position: absolute;
                              top: 0;
                              right: 0;
                              height: 100%;
                              display: none;
                              > img {
                                height: 100%;
                                object-fit: contain;
                              }
                            }

                            > .empty {
                              display: flex;
                            }
                          }

                          > .decades {
                            height: 100%;
                            width: 37px;
                            min-width: 37px;
                            position: relative;

                            > div {
                              position: absolute;
                              top: 0;
                              right: 0;
                              height: 100%;
                              display: none;
                              > img {
                                height: 100%;
                                object-fit: contain;
                              }
                            }

                            > .empty {
                              display: flex;
                            }
                          }

                          > .hundreds {
                            height: 100%;
                            width: 37px;
                            min-width: 37px;
                            position: relative;

                            > div {
                              position: absolute;
                              top: 0;
                              right: 0;
                              height: 100%;
                              display: none;
                              > img {
                                height: 100%;
                                object-fit: contain;
                              }
                            }

                            > .empty {
                              display: flex;
                            }
                          }
                        }

                        .units-zero {
                          .units {
                            > .zero {
                              display: flex;
                            }
                          }
                        }

                        .units-one {
                          .units {
                            > .one {
                              display: flex;
                            }
                          }
                        }

                        .units-two {
                          .units {
                            > .two {
                              display: flex;
                            }
                          }
                        }

                        .units-three {
                          .units {
                            > .three {
                              display: flex;
                            }
                          }
                        }

                        .units-four {
                          .units {
                            > .four {
                              display: flex;
                            }
                          }
                        }

                        .units-five {
                          .units {
                            > .five {
                              display: flex;
                            }
                          }
                        }

                        .units-six {
                          .units {
                            > .six {
                              display: flex;
                            }
                          }
                        }

                        .units-seven {
                          .units {
                            > .seven {
                              display: flex;
                            }
                          }
                        }

                        .units-eight {
                          .units {
                            > .eight {
                              display: flex;
                            }
                          }
                        }

                        .units-nine {
                          .units {
                            > .nine {
                              display: flex;
                            }
                          }
                        }

                        .decades-zero {
                          .decades {
                            > .zero {
                              display: flex;
                            }
                          }
                        }

                        .decades-one {
                          .decades {
                            > .one {
                              display: flex;
                            }
                          }
                        }

                        .decades-two {
                          .decades {
                            > .two {
                              display: flex;
                            }
                          }
                        }

                        .decades-three {
                          .decades {
                            > .three {
                              display: flex;
                            }
                          }
                        }

                        .decades-four {
                          .decades {
                            > .four {
                              display: flex;
                            }
                          }
                        }

                        .decades-five {
                          .decades {
                            > .five {
                              display: flex;
                            }
                          }
                        }

                        .decades-six {
                          .decades {
                            > .six {
                              display: flex;
                            }
                          }
                        }

                        .decades-seven {
                          .decades {
                            > .seven {
                              display: flex;
                            }
                          }
                        }

                        .decades-eight {
                          .decades {
                            > .eight {
                              display: flex;
                            }
                          }
                        }

                        .decades-nine {
                          .decades {
                            > .nine {
                              display: flex;
                            }
                          }
                        }

                        .hundreds-zero {
                          .hundreds {
                            > .zero {
                              display: flex;
                            }
                          }
                        }

                        .hundreds-one {
                          .hundreds {
                            > .one {
                              display: flex;
                            }
                          }
                        }

                        .hundreds-two {
                          .hundreds {
                            > .two {
                              display: flex;
                            }
                          }
                        }

                        .hundreds-three {
                          .hundreds {
                            > .three {
                              display: flex;
                            }
                          }
                        }

                        .hundreds-four {
                          .hundreds {
                            > .four {
                              display: flex;
                            }
                          }
                        }

                        .hundreds-five {
                          .hundreds {
                            > .five {
                              display: flex;
                            }
                          }
                        }

                        .hundreds-six {
                          .hundreds {
                            > .six {
                              display: flex;
                            }
                          }
                        }

                        .hundreds-seven {
                          .hundreds {
                            > .seven {
                              display: flex;
                            }
                          }
                        }

                        .hundreds-eight {
                          .hundreds {
                            > .eight {
                              display: flex;
                            }
                          }
                        }

                        .hundreds-nine {
                          .hundreds {
                            > .nine {
                              display: flex;
                            }
                          }
                        }

                        > .speed-label {
                          height: 12px;
                          position: absolute;
                          right: 15px;
                          bottom: 25px;
                          display: flex;
                          > img {
                            height: 100%;
                            object-fit: contain;
                          }
                        }

                        > .speed-scale {
                          position: absolute;
                          height: 8px;
                          width: 182px;
                          bottom: 10px;
                          left: 50%;
                          transform: translateX(-50%);
                          overflow: hidden;

                          > .speed-scale-empty {
                            height: 100%;
                            display: flex;
                            justify-content: flex-start;

                            > div {
                              height: 100%;
                              display: flex;
                              width: 5px;
                              min-width: 5px;
                              margin: 0 1px;

                              > img {
                                height: 100%;
                                width: 100%;
                                object-fit: contain;
                              }
                            }
                          }

                          > .speed-scale-fill {
                            height: 100%;
                            display: flex;
                            justify-content: flex-start;
                            position: absolute;
                            top: 0;
                            left: 0;
                            overflow: hidden;

                            > div {
                              height: 100%;
                              display: flex;
                              width: 5px;
                              min-width: 5px;
                              margin: 0 1px;

                              > img {
                                height: 100%;
                                width: 100%;
                                object-fit: contain;
                              }
                            }
                          }


                        }
                      }
                    }
                  }

                  .calc_bottom {
                    width: 100%;
                    max-width: 460px;

                    .calc_bottom_name {
                      width: 100%;
                      justify-content: space-between;
                      align-items: center;
                      font-family: $font-roboto;
                      font-style: normal;
                      font-weight: 400;
                      font-size: 16px;
                      display: flex;
                      margin-bottom: 10px;
                      color: $cTundora;

                      @media(max-width: $md4 - 1 + px) {
                        display: flex;
                        justify-content: space-between;
                      }

                      &:last-child {
                        margin-bottom: 0;
                      }

                      span {
                        max-width: 185px;
                        text-align: center;
                        display: block;
                        width: 100%;

                        @media(max-width: $md4 - 1 + px) {
                          max-width: 90px;
                        }
                      }
                    }
                  }
                }

                .calc_top_right {
                  max-width: 378px;
                  width: 100%;

                  .calc_top_right_name {
                    font-family: $font-open-sans;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    color: $cRegentGray;
                    margin-bottom: 20px;
                  }

                  .calc_top_right_text {
                    width: 100%;
                    justify-content: space-between;
                    align-items: center;
                    font-family: $font-roboto;
                    display: flex;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    color: $cTundora;

                    @media(max-width: $md4 - 1 + px) {
                      display: flex;
                      justify-content: space-between;
                    }

                    span {
                      max-width: 185px;
                      text-align: center;
                      display: block;
                      width: 100%;

                      @media(max-width: $md4 - 1 + px) {
                        max-width: 90px;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .calculator_block_attention {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 20px;
          margin-top: 30px;
          padding: 0 40px;

          .calculator_block_attention_name {
            font-family: $font-open-sans;
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            color: $cCoralRed;
          }

          .calculator_block_attention_name_text {
            font-family: $font-roboto;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            color: $cTundora;
            max-width: 512px;
          }
        }

        .calculator_block_params {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          padding: 0 40px;
          margin-bottom: 20px;
          gap: 20px;
          @media(max-width: $md4 - 1 + px) {
            padding: 0;
            flex-direction: column;
          }

          .params_left {
            max-width: 582px;
            width: 100%;

            .params_left-info {
              font-family: $font-open-sans;
              font-style: normal;
              font-weight: 700;
              font-size: 18px;
              color: $cCerulean;
              margin-bottom: 20px;
            }

            .params_left-item {
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 10px;
              font-family: $font-roboto;
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              color: $cTundora;
              gap: 10px;

              &:last-child {
                margin-bottom: 0;
              }

              span {
                max-width: 100px;
                width: 100%;
                display: block;
                @media(max-width: $md2 - 1 + px) {
                  max-width: 30px;
                }
              }
            }
          }

          .params_right {
            max-width: 660px;
            width: 100%;

            .params_right-info {
              font-family: $font-open-sans;
              font-style: normal;
              font-weight: 700;
              font-size: 32px;
              color: $cCoralRed;
              margin-bottom: 14px;
            }

            .params_right-text {
              font-family: $font-roboto;
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              color: $cTundora;
            }
          }
        }

        .calculator_block_typesize {
          width: 100%;
          padding: 0 40px;
          margin-bottom: 20px;

          @media(max-width: $md3 - 1 + px) {
            padding: 20px 0;
          }

          .calculator_block_typesize-title {
            font-family: $font-open-sans;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 20px;
            color: $cCerulean;
          }

          .calculator_block_typesize_item {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            margin-bottom: 20px;

            &:last-child {
              margin-bottom: 0;
            }

            div {
              font-family: $font-roboto;
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              max-width: 382px;
              width: 100%;
              color: $cTundora;
            }

            span {
              font-family: $font-roboto;
              font-style: normal;
              font-weight: 700;
              font-size: 16px;
              line-height: 120%;
              text-align: center;
              color: $cTundora;
              max-width: 185px;
            }
          }
        }
      }
    }
  }
}

@media(max-width: 1300px) {
  .page_calculator {
    .calculator_cont {
      .calculator_box {
        .calculator_block {
          .calculator_block_selects {
            .sendbtn {
              max-width: 200px;
              input {
                height: 40px;
                font-size: 16px;
              }
            }
          }
          .calculator_block_info {
            .info_table {
              gap: 10px;
              .table {
                max-width: 980px;
                .th {
                  gap: 4px;
                  margin-bottom: 14px;
                  .table_th_name {
                    max-width: 212px;
                    font-size: 14px;
                    &:first-child {
                      max-width: 250px;
                    }
                  }
                }
                .tr {
                  gap: 4px;
                  margin-bottom: 14px;
                  .table_tr_name {
                    font-size: 12px;
                    max-width: 212px;
                    &:first-child {
                      max-width: 250px;
                    }
                  }
                }
              }
              .info_table_img {
                img {
                  width: 100%;
                }
              }
            }
          }
          .calculator_block_bottom {
            .bottom_calc {
              .calc {
                .calc_top {
                  .calc_top_left {
                    max-width: 460px;
                    .calc_top_left_name {
                      font-size: 16px;
                      margin-bottom: 20px;
                    }
                    .calc_top_flex {
                      gap: 10px;
                      margin-bottom: 10px;
                      .calc_top_item {
                        max-width: 210px;
                        .calc_top_item_text {
                          font-size: 16px;
                          margin-bottom: 10px;
                        }
                      }
                    }
                    .calc_bottom {
                      max-width: 460px;
                      .calc_bottom_name {
                        font-size: 14px;
                      }
                    }
                  }
                  .calc_top_right {
                    max-width: 460px;
                    .calc_top_right_name {
                      font-size: 16px;
                      margin-bottom: 20px;
                    }
                    .calc_top_right_text {
                      font-size: 14px;
                    }
                  }
                }
              }
            }
          }
          .calculator_block_attention {
            margin-top: 30px;
            padding: 0 40px;
            .calculator_block_attention_name {
              font-size: 30px;
            }
            .calculator_block_attention_name_text {
              font-size: 16px;
              max-width: 512px;
            }
          }
          .calculator_block_parrams {
            padding: 0 40px;
            margin-bottom: 20px;
            .parrams_left {
              max-width: 582px;
              h4 {
                font-size: 18px;
                margin-bottom: 20px;
              }
              p {
                margin-bottom: 10px;
                font-size: 16px;
                span {
                  max-width: 185px;
                }
              }
            }
            .parrams_right {
              max-width: 660px;
              h4 {
                font-size: 32px;
                margin-bottom: 14px;
              }
              p {
                font-size: 16px;
              }
            }
          }
          .calculator_block_typesize {
            h4 {
              font-size: 18px;
            }
            .calculator_block_typesize_item {
              gap: 10px;
              margin-bottom: 20px;
              p {
                font-size: 16px;
                max-width: 382px;
              }
              span {
                font-size: 16px;
                max-width: 185px;
              }
            }
          }
        }
      }
    }
  }
}

@media(max-width: $md3 + px) {
  .page_calculator {
    .calculator_cont {
      .calculator_box {
        .calculator_box_tabs {
          background: unset;
          margin-bottom: 20px;
          .calculator_box_tabs_select {
            display: block;
            width: 100%;
            height: 44px;
            background: $cWhite;
            border: 1px solid #DBE2E9;
            box-sizing: border-box;
            border-radius: 4px;
            padding: 0 10px;
            font-family: $font-roboto;
            font-style: normal;
            font-weight: 700;
            font-size: 17px;
            color: $cCerulean;
          }
        }
        .calculator_block {
          .calculator_block_top-text {
            padding: 0;
            background: unset;
            margin-bottom: 20px;
          }
          .calculator_block_selects {
            .sendbtn {
              max-width: unset;
              width: auto;
              grid-column-start: 1;
              grid-column-end: 3;

              input {
                height: 40px;
                font-size: 16px;
              }
            }
          }
          .calculator_block_info {
            .info_table {
              gap: 10px;
              flex-wrap: wrap-reverse;
              .table {
                max-width: 980px;
                padding-top: 100px;
                position: relative;
                .th {
                  gap: 4px;
                  margin-bottom: 14px;
                  .table_th_name {
                    max-width: 212px;
                    font-size: 14px;
                    color: $cRegentGray;
                    &:first-child {
                      max-width: 250px;
                      position: absolute;
                      left: 0;
                      top: 50px;
                      font-family: $font-open-sans;
                      font-style: normal;
                      font-weight: 700;
                      font-size: 25px;
                      color: $cCerulean;
                    }
                  }
                }
                .tr {
                  gap: 4px;
                  margin-bottom: 14px;
                  flex-wrap: wrap;
                  .table_tr_name {
                    font-size: 12px;
                    max-width: 212px;
                    width: 32%;
                    &:first-child {
                      max-width: unset;
                      width: 100%;
                      margin-bottom: 10px;
                    }
                  }
                }
              }
              .info_table_img {
                img {
                  width: 100%;
                }
              }
            }
          }
          .calculator_block_bottom {
            max-width: 980px;
            padding: 0;
            margin-top: 40px;
            margin-bottom: 20px;
            .bottomcalc {
              .calc {
                .calc_mobile {
                  display: block;
                  width: 100%;
                  padding: 30px 20px;
                  background: $cAlabaster;
                  border-radius: 6px;
                  .calc_mobile_name {
                    font-family: $font-open-sans;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 25px;
                    color: $cCerulean;
                    margin-bottom: 20px;
                  }
                  .calc_mobile_item {
                    margin-bottom: 14px;
                    width: 100%;
                    font-family: $font-roboto;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    color: $cTundora;
                    input {
                      width: 100%;
                      height: 30px;
                      max-width: 185px;
                      background: $cWhite;
                      font-family: $font-roboto;
                      font-style: normal;
                      font-weight: 400;
                      font-size: 16px;
                      color: $cTundora;
                      border: 1px solid #DBE2E9;
                      box-sizing: border-box;
                      border-radius: 4px;
                      padding: 0 10px;
                      margin-top: 10px;
                      display: block;
                    }
                    span {
                      display: block;
                      margin-top: 10px;
                      font-family: $font-roboto;
                      font-style: normal;
                      font-weight: 400;
                      font-size: 16px;
                      color: $cTundora;
                    }
                  }
                }
                .calc_top {
                  display: none;
                }
              }
            }
          }
          .calculator_block_attention {
            margin-top: 30px;
            padding: 0;
            flex-direction: column;
            .calculator_block_attention_name {
              font-size: 25px;
              margin-bottom: 14px;
            }
            .calculator_block_attention_name_text {
              font-size: 14px;
              margin-bottom: 14px;
              max-width: unset;
            }
          }
          .calculator_block_parrams {
            padding: 0;
            margin-bottom: 20px;
            gap: 10px;
            .parrams_left {
              max-width: 316px;
              h4 {
                font-size: 18px;
                margin-bottom: 20px;
              }
              p {
                margin-bottom: 10px;
                font-size: 16px;
                span {
                  max-width: 20px;
                }
              }
            }
            .parrams_right {
              max-width: 660px;
              h4 {
                font-size: 32px;
                margin-bottom: 14px;
              }
              p {
                font-size: 16px;
              }
            }
          }
          .calculator_block_typesize {
            h4 {
              font-size: 18px;
            }
            .calculator_block_typesize_item {
              gap: 10px;
              margin-bottom: 20px;
              p {
                font-size: 16px;
                max-width: 382px;
              }
              span {
                font-size: 16px;
                max-width: 185px;
              }
            }
          }
        }
      }
    }
  }
}
